/* universal styles */

h1.container-title {
  width: 100%;
  color: rgb(51, 55, 58);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 32px;
  background-color: lightgray;
}

/* header */

div.header {
  display: flex;
  justify-content: center;

}

div.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: black;
  font-size: 18px;
  background-color: white;
  z-index: 1;
  margin-top: 0;
  position: fixed;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

div.logo-name {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.logo-name img {
  padding-left: 24px;
  height: 32px;
}

div.logo-name span {
  display: flex;
  align-items: center;
}

div.navigation li {
  display: inline-block;
  padding-right: 2rem;
}

div.navigation {
  padding-right: 24px;
}

ul.nav-menu li {
  padding-right: 16px;
}

ul.nav-menu li:hover {
  background-color: lightgray;
  transition-property: background-color;
  transition-delay: 200ms;
  transition-duration: 450ms;
  transition-timing-function: ease-in;
}

div.header div.truncated-navigation {
  display: none;
}

@media only screen and (max-width: 700px) {
  ul.nav-menu {
    display: none;
  }

}

@media only screen and (min-width: 460px) {
  ul.truncated-menu {
    display: none;
  }
}

@media only screen and (max-width: 460px) {
  div.header div.truncated-navigation {
    display: flex;
  }

  div.header ul.truncated-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
  }

  div.logo-name {
    display: none;
  }
}

/*

@media only screen and (max-width: 700px) {
  .nav-menu {
    display: none;
  }

  .truncated-header {
    height: 64px;
    display: block;
  }

  .truncated-menu {
    display: block;
  }

  div.logo-name {
    display: none;
    }

}

@media only screen and (max-width: 560px) {
  .nav-menu {
    display: none;
  }

  .truncated-header {
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  .truncated-menu {
    display: block;
  }

  div.logo-name {
    display: none;
    }
}

*/

/* main banner */

div.main-banner {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: lightgray;
  margin: 0 auto;
}

img#banner-pic {
  width: 100%;
}

div.main-banner-image {
  margin: 32px 24px;
  width: 60%;
}

div.main-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

div.main-banner-text span {
  width: 50%;
  margin-bottom: 24px;
  font-family: sans-serif;
}

span#learn {
  color: rgb(51, 55, 58);
  font-size: 36px;
  font-weight: bold;
}

span#latin {
  color: gray;
  font-size: 24px;
}

span#start {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(51, 55, 58);
  text-align: center;
  color: white;
  font-size: 24px;
}

@media only screen and (max-width: 800px) {
  div.main-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: lightgray;

  }

  div.main-banner img#banner-pic {
    width: 100%;
  }

  div.main-banner-image {
    width: 100%;
    margin: 32px 0;
  }
}
/*
@media only screen and (max-width: 700px) {
  div.main-banner {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: auto;
  }

  div.main-banner-image {
    width: 100%;
  }

  div.main-banner-text {
    padding: 32px 0;
  }

  div.main-banner-text span#latin {
    padding-bottom: 24px;
  }

  div.main-banner-text span {
    padding-left: 16px;
  }
}

  @media only screen and (max-width: 560px) {
    div.main-banner {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
} */
/* second container */

div.second-container {
  margin: 0 auto;
  background-color: white;
  display: flex;
  align-items: center;
}

div.second-container-left-container {
  width: 60%;
  margin-bottom: 32px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 32px;
}

div.second-container-left-container span#practice {
  color: rgb(51, 55, 58);
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 24px;
}

div.second-container-left-container span#quote {
  color: gray;
  font-size: 18px;
  padding-bottom: 32px;
}

div.second-container-left-container span#name {
  color: gray;
  font-size: 14px;
  padding-bottom: 32px;
}

div.second-container-left-container img#second-container-pic {
  width: 100%;
  margin-bottom: 32px;
}

div.second-container-text {
  display: flex;
  flex-direction: column;

}

div.information-nodes-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

div.information-nodes {
  display: flex;
  flex-direction: row;
  align-content: center;

}

div.information-nodes-container div#third-child {
  background-color: lightgray;
}

div.information-nodes img#node-pic {
  width: 35%;
  height: 35%;
  margin: 16px 16px;
}

div.node-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

div.node-info span {
  padding-bottom: 8px;
}

div.information-nodes div.node-info  span#node-title {
  color: rgb(51, 55, 58);
  font-size: 28px;
  font-weight: bold;
}

div.node-info span#node-info {
  color: black;
  font-size: 24px;
}

div.node-info span#read-more {
  color: rgb(32, 139, 219);
  font-size: 24px;
}

/* still learning container (attempt 2) */

div.still-learning-container {
  display: flex;
  background-color: lightgray;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 32px;
}

div.stil-learning-container h1 {
  color: gray;
}

div.learning-images {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 32px;
}

div.learning-images img.class-pics {
  width: 100%;
  height: auto;
}

div.class-info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  margin-left: 16px;
  margin-bottom: 24px;
}

div.class-info span#class-name {
  color: rgb(51, 55, 58);
  font-size: 28px;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 8px;
}

div.class-info span#courses {
  color: gray;
  font-size: 24px;
  padding-bottom: 8px;

}

div.class-info span#course-names {
  color: gray;
  font-size: 24px;
}

/* third container */

h1#thesis-title {
  background-color: white;
}

div.third-container {
  margin: 0 auto;
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px;
  border-bottom-color: lightgray;
  border-bottom-style: solid;
}

div.third-container-left-container {
  width: 60%;
  margin-bottom: 32px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 32px;
}

div.third-container-left-container span#urban {
  color: gray;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 8px;
}

div.third-container-left-container span#quote {
  color: gray;
  font-size: 18px;
  padding-bottom: 32px;
}

div.third-container-left-container video#third-container-video {
  width: 100%;
  margin-bottom: 32px;
}

div.third-container-text {
  display: flex;
  flex-direction: column;

}

div.exhibit-nodes-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-content: flex-start;
}

div.exhibit-nodes {
  display: flex;
  flex-direction: row;
  align-content: center;

}

div#first-child {
  background-color: lightgray;
}

div.exhibit-nodes img#node-pic {
  width: 35%;
  height: 35%;
  margin: 16px 16px;
}

div.node-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

div.node-info span {
  padding-bottom: 8px;
}

div.node-info span#node-title {
  color: rgb(51, 55, 58);
  font-size: 28px;
  font-weight: bold;
}

div.node-info span#node-info {
  color: gray;
  font-size: 24px;
}

/* footer */

div.footer {
  display: flex;
  justify-content: center;
}

div.footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: black;
  font-size: 18px;
  background-color: white;
  z-index: 1;
  margin-bottom: 0;
  width: 100%;
}

div.copyright-info {
  display: flex;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 64px;
}

div.copyright-info span {
  display: flex;
  align-items: center;
}

div.legal li {
  display: inline-block;
}

div.legal {
  padding-right: 24px;
  padding-top: 16px;
}

ul.legal-menu li {
  padding-right: 16px;
  padding-bottom: 64px;
}

.truncated-footer {
  display: none;
}

@media only screen and (max-width: 700px) {
  .legal-menu {
    display: none;
  }

  .footer-truncated-menu {
    display: block;
  }

}

@media only screen and (max-width: 560px) {
  .legal-menu {
    display: none;
  }

  .truncated-footer {
    display: block;
  }

  div.copyright-info span {
    display: none;
    }
}
