/* universal styles */

body {

}

/* header */

div.header {
  display: flex;
  justify-content: center;
}

div.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: black;
  font-size: 18px;
  width: 960px;
  background-color: white;
  z-index: 1;
  margin-top: 1rem;
}

div.logo-name {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.logo-name img {
  padding-left: 24px;
  height: 32px;
}

div.logo-name span {
  display: flex;
  align-items: center;
}

div.navigation li {
  display: inline-block;
  padding-right: 2rem;
}

div.navigation {
  padding-right: 24px;
}

ul.nav-menu li {
  padding-right: 16px;
}

.truncated-menu {
  display: none;
}

@media only screen and (max-width: 700px) {
  .nav-menu {
    display: none;
  }

  .truncated-menu {
    display: block;
  }

}

@media only screen and (max-width: 560px) {
  .nav-menu {
    display: none;
  }

  .truncated-menu {
    display: block;
  }

  div.logo-name span {
    display: none;
    }
}

/* main banner */

div.main-banner {
  width: 960px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: lightgray;
  margin: 0 auto;
}

img#banner-pic {
  width: 100%;
}

div.main-banner-image {
  margin: 32px 24px;
  width: 60%;
}

div.main-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.main-banner-text span {
  width: 75%;
  margin-bottom: 24px;
  font-family: sans-serif;
}

span#learn {
  color: gray;
  font-size: 36px;
  font-weight: bold;
}

span#latin {
  color: gray;
  font-size: 24px;
}

span#start {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: darkgray;
  text-align: center;
  color: white;
}

/* second section */
/*
div.second-section {
  width: 960px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: white;
  margin: 0 auto;
}

img#second-section-pic {
  width: 100%;
}

div.second-section-image {
  margin: 32px 24px;
  width: 60%;
}

div.second-section-text {
  display: inline-block;
}



span#node-title {
  color: gray;
  font-size: 36px;
  font-weight: bold;
}

span#node-info {
  color: gray;
  font-size: 24px;
}

span#read-more {
  padding-top: 8px;
  padding-bottom: 8px;
  color: blue;
}

div.information-nodes {
  width: 40%;
  display: inline-block;
}

img#node-pic {
  width: 35%;
  height: auto;
  padding: 18px 18px;
}

div.second-section-text-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

div.second-section-text-blocks span {
  display: inline-block;
  font-family: sans-serif;
}
*/

/* second container */

div.second-container {
  width: 960px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  align-items: center;
}

div.second-container-image {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 32px 24px;
}


div.information-nodes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 40%;
  align-content: center;
  height: auto;
}

div.node-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

div.information-nodes img {
  width: 35%;
}

/* start learning */

.start-learning {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  padding-top: 70px;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 70px;
  margin: 0 auto;
  background-color: lightgray;
}

.start-learning-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 72px;
  padding-right: 72px;
}

.start-learning-title h2 {
  color: darkgray;
  width: 960px;
  padding: 32px 32px;
  font-family: sans-serif;
  font-size: 36px;
  text-align: center;
  margin: auto;
  font-weight: bold;
}

.start-learning-images img {
  height: auto;
  width: 300px;
  padding-right: 32px;
}

.start-learning-images span {
  display: block;
}

.start-learning-images div {
  align-items: flex-start;
}

.start-learning-captions {
  width: 300px;
  height: 26px;
  padding: 5px 5px;
  color: seashell;
  background-color: black;
  font-size: 22px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
}
